{% extends 'AppApiBundle:Report:base.html.twig' %}

{% block title %}Dagvergunningen : {{ markt.getNaam }} : {{ datum|date('d-m-Y') }}{% endblock %}

{% block document %}
<div class="element_document">
    <h1>Dagvergunningen : {{ markt.getNaam }} : {{ datum|date('d-m-Y') }}</h1>
    <form method="get" class="filter">
        <label for="datum">Datum</label>
        <input type="text" id="datum" name="datum" value="{{ datum|date('Y-m-d') }}">
        <button type="submit">Tonen</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th width="150">Erkenningsnummer</th>
                <th>Gegevens koopman</th>
                <th width="200">Aanwezig</th>
                <th width="180">Uitgifte datum/tijd</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for dagvergunning in list %}
            <tr class="{{ dagvergunning.isDoorgehaald ? 'deleted' : '' }}">
                <td>{{ dagvergunning.getErkenningsnummerInvoerWaarde }}</td>
                <td>
                    {% if dagvergunning.getKoopman is empty %}
                        (Geen koopman met dit erkenningsnummer bekend)
                    {% else %}
                        <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopman', {'erkenningsnummer': dagvergunning.getKoopman.getErkenningsnummer}) }}">{{ dagvergunning.getKoopman.getVoorletters }} {{ dagvergunning.getKoopman.getAchternaam }}</a>
                    {% endif %}
                </td>
                <td>{{ dagvergunning.getAanwezig }}</td>
                <td>{{ dagvergunning.getRegistratieDatumtijd|date('d-m-Y H:i:s') }}</td>
                <td class="info">
                    {% if dagvergunning.isDoorgehaald %}
                        Doorgehaald op {{ dagvergunning.getDoorgehaaldDatumTijd|date('d-m-Y H:i:s') }}
                    {% endif %}
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="4">(Geen dagvergunningen uitgegeven)</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}