{% extends 'AppApiBundle:Report:base.html.twig' %}

{% block title %}Koopman : {{ koopman.getVoorletters }} {{ koopman.getAchternaam}} {% endblock %}

{% block document %}
<div class="element_document">
    <h1>Koopman : {{ koopman.getVoorletters }} {{ koopman.getAchternaam}}</h1>
    <blockquote class="kaart">
        Voorletters: {{ koopman.getVoorletters }}<br>
        Achternaam: {{ koopman.getAchternaam}}<br>
        E-mail adres: <a href="mailto:{{ koopman.getEmail }}">{{ koopman.getEmail }}</a><br>
        Telefoon: <a href="callto:{{ koopman.getTelefoon }}">{{ koopman.getTelefoon }}</a>
    </blockquote>
    <h2>Uitgegeven dagvergunningen</h2>
    <table class="table">
        <thead>
            <tr>
                <th width="50">Markt</th>
                <th>&nbsp;</th>
                <th width="100">Dag</th>
                <th width="200">Aanwezig?</th>
                <th width="200">Uitgifte datum/tijd</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for dagvergunning in list %}
            <tr class="{{ dagvergunning.isDoorgehaald ? 'deleted' : '' }}">
                <td>{{ dagvergunning.getMarkt.getAfkorting }}</td>
                <td>{{ dagvergunning.getMarkt.getNaam }}</td>
                <td>{{ dagvergunning.getDag|date('d-m-Y') }}</td>
                <td>{{ dagvergunning.getAanwezig }}</td>
                <td>{{ dagvergunning.getRegistratieDatumTijd|date('d-m-Y H:i:s') }}</td>
                <td class="info">
                    {% if dagvergunning.isDoorgehaald %}
                        Doorgehaald op {{ dagvergunning.getDoorgehaaldDatumTijd|date('d-m-Y H:i:s') }}
                    {% endif %}
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="7">Nog geen dagvergunningen uitgegeven</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}