{% extends 'AppApiBundle:Report:base.html.twig' %}

{% block title %}Koopman overzicht{% endblock %}

{% block document %}
<div class="element_document">
    <h1>Koopman overzicht</h1>
    <form method="get" class="filter">
        <label for="q">Zoek naar (erkenningsnummer, voorletters, naam, telefoon, e-mail)</label>
        <input type="text" id="q" name="q" value="{{ q }}">
        <button type="submit">Zoeken</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th width="150">Erkenningsnummer</th>
                <th width="150">Voorletters</th>
                <th>Achternaam</th>
            </tr>
        </thead>
        <tbody>
{% for koopman in list %}
            <tr>
                <td><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopman', {'erkenningsnummer': koopman.getErkenningsnummer}) }}">{{ koopman.getErkenningsnummer }}</a></td>
                <td><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopman', {'erkenningsnummer': koopman.getErkenningsnummer}) }}">{{ koopman.getVoorletters }}</a></td>
                <td><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopman', {'erkenningsnummer': koopman.getErkenningsnummer}) }}">{{ koopman.getAchternaam }}</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <p>
        Totaal aantal koopmannen gevonden: <strong>{{ totalFound }}</strong>
        /
        Pagina:
        {% if currentPage != 0 %}
            <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopmansearch', {'q': q, 'page': currentPage - 1}) }}">vorige</a>
        {% endif %}
        {% if (currentPage + 1) < pages %}
            <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopmansearch', {'q': q, 'page': currentPage + 1}) }}">volgende</a>
        {% endif %}
    </p>
</div>
{% endblock %}