{% extends 'AppApiBundle:Report:base.html.twig' %}

{% block title %}Markten{% endblock %}

{% block document %}
<div class="element_document">
    <h1>Markten</h1>
    <table class="table">
        <thead>
            <tr>
                <th width="100">Afkorting</th>
                <th>Markt</th>
                <th width="100">Type</th>
                <th width="40">Ma</th>
                <th width="40">Di</th>
                <th width="40">Wo</th>
                <th width="40">Do</th>
                <th width="40">Vr</th>
                <th width="40">Za</th>
                <th width="40">Zo</th>
            </tr>
        </thead>
        <tbody>
{% for markt in list %}
            <tr>
                <td>{{ markt.getAfkorting }}</td>
                <td><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_dagvergunning', {'marktId': markt.getId}) }}">{{ markt.getNaam }}</a></td>
                <td>{{ markt.getSoort }}</td>
                <td>{{ markt.hasMarktDag('ma') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('di') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('wo') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('do') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('vr') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('za') ? 'x' }}</td>
                <td>{{ markt.hasMarktDag('zo') ? 'x' }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}